body {
  border: none;
  font-family: 'Roboto', sans-serif;
}

.contain {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 160px;
  width: 160px;
  margin: 0px;
  padding: 0px;
  border-radius: 200px;
  overflow: hidden;
}

.wrapper1 {
  position: relative;
  width: 300px;
  height: 300px;
}

.wrapper2 {
  top: -77px;
  left: -73px;
  position: absolute;
  width: 300px;
  height: 300px;
  clip-path: circle(12.1% at 50% 51%);
}

.play {
  top: 70px;
  left: 70px;
  border: solid 4px;
  position: absolute;
  height: 160px;
  width: 160px;
  margin: 0px;
  padding: 0px;
  background-image: url('cover.jpg');
  border-radius: 200px;
  background-repeat:no-repeat;
  background-size:contain;
  outline: none;
  opacity: 0.97;
}

.line1 {
  top: 31px;
  left: 149px;
  position: absolute;
  background: linear-gradient(#FF0000,white);
  width: 2px;
  height: 40px;
  opacity: 0.6;
}

p {
  top: 15px;
  left: 155px;
  position: absolute;
}
p.buy {
  color: white;
  position: absolute;
  top: 70px;
  left: 135px;
}
#buy {
  top : 72px;
  left: 84px;
  display: none;
  position: absolute;
  border-top: 70px solid #EBEBEB;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
  border-bottom: 70px solid transparent;
  border-radius: 800px;
  background: transparent;
}

#artistName {
  top : 72px;
  left: 84px;
  display: block;
  position: absolute;
  height: 158px;
  width: 158px;
  top: 71px;
  left: 71px;
  border-radius: 800px;
  background: transparent;
}


#circle {
  position: absolute;
  background: transparent;
  height: 158px;
  width: 158px;
  top: 71px;
  left: 71px;
  border-radius: 800px;
  border: solid 5px white;
  outline: none;
}

#play, #stop {
  top: 120px;
  left: 120px;
  border-radius: 200px;
  position: absolute;
  height: 60px;
  width: 60px;
  margin: 0px;
  padding: 0px;
  background: transparent;
  border: solid 1px #D9D9D9;
  outline: none;
  mask-image: url(cover.png),
}
#stop{
  display: none;
  background-color: white;
  opacity: 0.9
  ;
}


.dot {
  left: 140px;
  top: 50px;
  border-radius: 100px;
  background-color: white;
  height: 14px;
  width: 14px;
  position: absolute;
  border: solid 3px red;
}

div.overlay {
  background-image: url();
  height: 160px;
  width: 160px;
  border-radius: 200px;
  top: 70px;
  left: 70px;
  opacity: 0.5
}

.container {
  margin-top: 15%;
  margin-left: 40%;
  margin-right: 50%;
  display: flex;
  flex-direction: row;
}

audio {
  border-radius: 100px;
  height: 100px;
}

.wrapper {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.wrapper1 {
  position: relative;
  width: 300px;
  height: 300px;
}

.pie svg {
  top: 50px;
  left: 50px;
  position: absolute;
  width: 200px;
  height: 200px;
}

.graph { visibility: hidden;
  opacity: 0.5; }

.graph > * {
  visibility: visible;
  transition: all 200ms ease-in-out;
}

.graph__percent:hover {
  opacity: 0.7;
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}
